suPHP_ConfigPath /home/sukakpop/public_html/

<FilesMatch "\.(ttf|otf|eot|woff)$">
  <IfModule mod_headers.c>
    # Header set Access-Control-Allow-Origin "*"
	# Cors
	Header always set Access-Control-Allow-Origin "*"
	Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
	Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
  </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /fega/
RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=http:// [OR]
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=(\.\.//?)+ [OR]
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=/([a-z0-9_.]//?)+ [NC]
RewriteRule .* - [F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule> 